* {
  box-sizing: border-box;
}
body {
  font-family: cursive;
  margin: 0;
}
.container {
  display: flex;
}
.content-container {
  width: 60%;
  height: 300px;
  background-color: #0660d4;
  color: white;
  padding-top: 50px;
  padding-left: 50px;
  font-size: 28px;
}
h2 {
  margin-bottom: 0;
}
.search-info {
  display: flex;
}
.search-info .dot {
  margin-top: 19px;
  margin-inline: 4px;
}
span {
  font-weight: 900;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid white;
}
.img-2,
.img-2,
.img-3 {
  margin-left: -10px;
}
.bg-img {
  width: 40%;
  height: 300px;
  background-color: #0660d4;
  background-image: url(./images/background.png);
  background-size: cover;
  background-position: center;
}
